* {
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box {
  margin-top: 20vh;
  width: 450px;
  min-height: 100px;
  position: relative;
}
.thread {
  width: 95%;
  color: white;
  margin: 5px;
  background: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.title {
  padding: 10px 10px;
  width: calc(100% - 20px);
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
i {
  font-size: 20px;
  cursor: pointer;
}
i:hover {
  color: yellow;
}

.addBtn {
  align-self: flex-end;
}

.comment {
  width: 80%;
}

.btm {
  display: flex;
  align-self: flex-end;
  padding: 10px 10px;
  color: white;
  font-size: 15px;
}
input {
  width: 80%;
  background: none;
  border: none;
  color: white;
  font-size: 15px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: white;
}

.picker {
  position: absolute;
  top: -100px;
}
