input {
  width: 80%;
  background: none;
  border: none;
  color: white;
  font-size: x-large;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: white;
  font-size: x-large;
}

.add {
  align-self: flex-end;
}
